<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calories 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Calories</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
   <ion-list>
     <ion-item>
       <ion-label>Weight</ion-label>
       <ion-input type="number" name="weight" [(ngModel)]="weight"></ion-input>
     </ion-item>
     <ion-item>
       <ion-label>Gender</ion-label>
       <ion-select [(ngModel)]="gender">
         <ion-select-option *ngFor="let value of genders">{{value}}</ion-select-option>
       </ion-select>
     </ion-item>
     <ion-item>
      <ion-label>Intensity</ion-label>
      <ion-select [(ngModel)]="intensity">
        <ion-select-option *ngFor="let value of intensities">{{value}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Daily calories</ion-label>
      <ion-input name="calories" value="{{calories | number: '1.0-0'}}" readonly></ion-input>
    </ion-item>
   </ion-list>
    <ion-button (click)="calculate()">Calculate</ion-button>
  </div>
</ion-content>
